img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#question {
	font-family: "Verdana";
	font-weight: 100;
	text-align: center;
	font-size: 2.4rem;
	line-height: 3.6rem;
	padding-top:100px;
}

.termsContainer {
	width: 35%;
	margin: 25px auto 0 auto;
}

.terms {
	
    border: 1px solid #ccc;
    font: normal 11px/15px arial;
	overflow-y: scroll
}

#submitButton {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
	width: 20%;
	height: 100px;
	background-color: #33FFB2; 
	color: white;
	font-size: 40px;
	margin: 3% auto 4% auto;
	display: block;
}

#submitButton:disabled {
	background-color: #ccc;
}

.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(255,255,255, 0.9);
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

#success {
	width: 80%;
	height: 35%;
	background-color: #33FFB2;
	color: white;
	font-family: "Verdana";
	font-size: 50px;
	margin: 10px auto 10px auto;
	padding: 40px 15px 0 15px;
	display: block;
	text-align: center;
	
}

#johnAndLillianContainer {
  max-width: 400px;
  position: relative;
  margin: auto;
}